$main-color: #2E2E2E;
$secondary-color: #FE9A2E;
$background-main: #FAFAFA;
$tile-background-color: #FFFFFF;
$color-line-second: #E3E9E9;
$color-header-main: #EC1C4E;
$app-header-background: #002B45;
