@font-face {
  font-family: 'LatoRegular';
  src: url('/fonts/Lato-Regular.eot'),
  url('/fonts/Lato-Regular.woff') format('woff')
}


@font-face {
  font-family: 'LatoBold';
  src: url('/fonts/Lato-Bold.eot'),
  url('/fonts/Lato-Bold.woff') format('woff')
}
