@font-face {
  font-family: 'LatoRegular';
  src: url('assets/fonts/Lato-Regular.eot'),
  url('assets/fonts/Lato-Regular.woff') format('woff'),
  url('assets/fonts/Lato-Regular.ttf') format('ttf');
}


@font-face {
  font-family: 'LatoBold';
  src: url('assets/fonts/Lato-Bold.eot'),
  url('assets/fonts/Lato-Bold.woff') format('woff'),
  url('assets/fonts/Lato-Bold.ttf') format('ttf');
}